header{
    height: 10vh;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;
}

.titulo{
    text-shadow: rgba(0, 0, 0, 0.47) 4px 4px 0px;
    margin-left: 550px;
    font-family: 'Libre Baskerville', serif;
}